* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body, html {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 120%;
}


.bg {
    height: 100%;
    background: url("../img/coins-wallpaper.jpg") no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.20;
}


.header {
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    left: 0; right: 0; top: 1%;
    margin: 0;
    padding-bottom: 2%;
    padding-top: 1%;
}


header {
    color: #7b0c00;
    font-family: Luminari, serif;
    font-size: 3.5em;
    text-align: center;
    word-spacing: 20px;
    background-color: #ffe0b7;
    border-top: 3px solid #ffd08a;
    border-bottom: 3px solid #ffd08a;
    position: relative;
    padding: 0.5% 0 0.5% 0;
    transform: translate(0, 3%);
}


nav {
    display: block;
    position: absolute;
    left: 0; right: 0; top: 19%;
    font-family: Damascus, sans-serif;
    font-size: 1.5em;
    background-color: white;
    border-top: 5px solid #ffd08a;
    border-bottom: 5px solid #ffd08a;
    z-index: 1;
}


nav a {
    text-decoration: none;
    text-align: left;
    color: #7b0c00;
    padding: 6px 0;
    margin: 5px 30px;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    /*border: 1px solid black;*/
}


.container {
    position: absolute;
    left: 0; right: 0; top: 25%;
    height: auto;
    /*border: 2px solid red;*/
    background-color: rgba(255, 249, 241, 0.74);
    padding: 10px;
    z-index: 0;
}


.card {
    display: inline-block;
    /*border: 1px solid black;*/
    padding: 0 0 10px 0;
    margin: 15px;
    width: 20%;
    height: auto;
    background-color: white;
    color: #7b0c00;
}

.card-header {
    /*display: block;*/
    background-color: white;
    padding: 0;
    margin: 0 0 5px 0;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    /*color: black;*/
    /*border: 1px solid black;*/
    height: 4em;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}



.card-container {
    display: block;
    background-color: white;
    padding: 0;
    margin: 0;
}


.card-grid {
    perspective: 200px;
    position: relative;
    transform-style: preserve-3d;
}


.front {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: rotateY(0deg);
}


.back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(-180deg);
    transition: all 0.5s ease-out;
}


.card-footer {
    display: block;
    background-color: white;
    padding: 0;
    margin: 10px 0;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    /*color: black;*/
    height: 35px;
    /*border: 1px solid black;*/
}


img {
    width: 200px;
    height: auto;
    padding: 0;
    margin: 0 0 5px 0;
}

.card-footer span {
    margin: 0 30px;
}


.price {
    color: crimson;
}


#total {
    font-weight: bolder;
}

button {
    width: 200px;
    border: none;
    color: #7b0c00;
    background-color: #ffe0b7;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition: all ease 0.3s;

}

button:active {
    box-shadow: 0 3px 0 #7b0c00;
    top: 3px;
}


/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Changes the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffe0b7;
}


.dropdown-content img {
    width: 60px;
    height: auto;
    vertical-align: middle;
    margin: 10px 30px 10px 10px;
}



.dropdown-content {
    list-style: none;
    margin: 0;
}

.dropdown-content li {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
}

.item-price, .item-quantity {
    width: 80px;
    margin: 0 0 0 20px;
    text-align: right;
}




